@model IEnumerable<BudgetPlanner.Models.Transaction>

@{
    ViewBag.Title = "Transaction Index";
}

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />

@*<div class="container">*@
    <br />
    <br />
<div class="row">
    <div class="col-md-12">
        @*<div class="col-md-12">*@
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-1">
                        <div class="btn pull-left">
                            <a href="@Url.RouteUrl("TransactionCreate", new { acctId = ViewBag.AccountId })" class="glyphicon glyphicon-plus"> </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="text-center">
                            <h4>
                                @ViewBag.Name
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="pull-right">Balance: $@ViewBag.Balance | Reconciled: $@ViewBag.reconBalance</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Date Range Search:</td>
                                    <td class="input-daterange input-group" id="datepicker" style="width:250px">
                                        <input type="text" class="input-sm form-control" name="sDate" id="sDate" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" name="eDate" id="eDate" />
                                    </td>
                                </tr>
                                <tr>                                   
                                    <td>Amount Range Search:</td>
                                    <td class="input-group" style="width:250px">
                                        <input type="text" class="input-sm form-control" name="sAmt" id="sAmt" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" name="eAmt" id="eAmt" />
                                    </td>
                                </tr>                                
                            </tbody>                            
                        </table>   
                        <br />                     
                        <table class="table table-hover table-striped table-responsive" id="TransactionDataTable">
                            <thead>
                                <tr>
                                    <th class="col-md-1">
                                        <label>Date</label>
                                    </th>
                                    <th class ="col-md-5">
                                        <label>Description</label>
                                    </th>
                                    <th class="col-md-1">
                                        <label>Category</label>
                                    </th>
                                    <th class="col-md-2">
                                        <label>Amount</label>
                                    </th>
                                    <th class="col-md-1">
                                        <label>Reconciled</label>
                                    </th>
                                    <th class="col-md-2">
                                        <label>Updated By</label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div> <!-- panel body -->
            </div><!--panel-->
        @*</div>*@<!--col-md-10-->
    </div><!-- col-md-12 -->
</div> <!-- /row -->

@section scripts {
    <script src="/Scripts/bootstrap-datepicker.js"></script>
    <script src="/Scripts/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function () {

        $('body').on('change', '#eDate, #sDate, #eAmt, #sAmt', function (e) {
            $('#TransactionDataTable').DataTable().ajax.reload();
        })

        @*$('#TransactionDataTable').on('click', 'button', function () {
            $.get(@Url.RouteUrl("TransactionDelete", new { id = t.id}))
        });*@

        $('#TransactionDataTable').dataTable({
            "serverSide": true,
            "ajax": {
                "url": "@Url.RouteUrl("TransactionsTableAjax", new { acctId = ViewBag.AccountId})",
                "type": "POST",
                "data": function (d) {
                    d.sDate = $('#sDate').val() != "" ? $('#sDate').val() : null;
                    d.eDate = $('#eDate').val() != "" ? $('#eDate').val() : null;
                    d.sAmt = $('#sAmt').val() != "" ? $('#sAmt').val() : null;
                    d.eAmt = $('#eAmt').val() != "" ? $('#eAmt').val() : null;
                }
            },
            "processing": true,
            "columns":
                [
                    {
                        "data": "Date",
                        "name": "Date"
                    },
                    {
                        "data": "Description",
                        "name": "Description"
                    },
                    {
                        "data": "Category",
                        "name": "Category"
                    },
                    {
                        "data": "Amount",
                        "name": "Amount"
                    },
                    {
                        "data": "Reconciled",
                        "name": "Reconciled"

                    },
                    {
                        "data": "UpdateBy",
                        "name": "Update By"
                    }
                    //,
                    //{
                    //    "data": null,
                    //    "defaultContent": "<button>Delete</button>"
                    //}
                ]
        });

    });

    $(document).ready(function () {
        $('#datepicker.input-daterange').datepicker({
            format: "mm/dd/yyyy",
            autoclose: true
        });
    });


    </script>

}
