@model IEnumerable<BudgetPlanner.Models.Transaction>

@{
    ViewBag.Title = "Transaction Index";
}

<link href="~/Content/Block/main.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

@*<div class="container">*@
    <br />
    <br />
<div class="row">
    <div class="col-md-12">
        @*<div class="col-md-12">*@
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-1">
                        <div class="btn pull-left"><a href="@Url.RouteUrl("TransactionCreate", new { acctId = ViewBag.AccountId })" class="glyphicon glyphicon-plus"> </a></div>
                    </div>
                    <div class="col-md-7">
                        <div class="text-center">
                            <h4>
                                @ViewBag.Name
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="pull-right">Balance: $@ViewBag.Balance | Reconciled: $@ViewBag.reconBalance</h5>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-responsive" id="TransactionDataTable" data-order='[[ 1, "asc"]]'>
                            <thead>
                                <tr>
                                    <th class="col-md-1">
                                        <label>Date</label>
                                    </th>
                                    <th class ="col-md-5">
                                        <label>Description</label>
                                    </th>
                                    <th class="col-md-1">
                                        <label>Category</label>
                                    </th>
                                    <th class="col-md-2">
                                        <label>Amount</label>
                                    </th>
                                    <th class="col-md-1">
                                        <label>Reconciled</label>
                                    </th>
                                    <th class="col-md-2">
                                        <label>Updated By</label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div> <!-- panel body -->
            </div><!--panel-->
        @*</div>*@<!--col-md-10-->
    </div><!-- col-md-12 -->
</div> <!-- /row -->
@section scripts {
    <script src="/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () 
        {
            $('#TransactionDataTable').dataTable({
                "serverSide": true,
                "ajax": {
                    "url": "@Url.RouteUrl("TransactionsTableAjax", new { acctId = ViewBag.AccountId})",
                    "type": "POST"
                },
                "processing": true,
                "columns":
                    [
                        {
                            "data": "Date"
                        },
                        {
                            "data": "Description"
                        },
                        {
                            "data": "Category"
                        },
                        {
                            "data": "Amount"
                        },
                        {
                            "data": "Reconciled"
                        },
                        {
                            "data": "UpdateBy"
                        }
                    ]
            });
        });
    </script>
}
